# 1. wordpress配下の直下ファイル・フォルダをすべて除外
/wordpress/*

# 2. wp-content ディレクトリ自体はGitに追跡させる
!/wordpress/wp-content/

# 3. wp-content 配下をすべて除外
/wordpress/wp-content/*

# 4. themes ディレクトリ自体はGitに追跡させる
!/wordpress/wp-content/themes/

# 5. themes 配下をすべて除外
/wordpress/wp-content/themes/*

# 6. 目的の自作テーマフォルダのみ管理対象に戻す
!/wordpress/wp-content/themes/asaka-junior-sp/

# Environment
.env
.env.*

# OS
.DS_Store

# Editor
.vscode/

# Logs
*.log